a {
    display: inline-block;
}

a:link, a:visited {
    background-color: $mainBlue;
    min-width: 90px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover, a:active {
    background-color: $secondblue;
    min-width: 90px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}